header .header__title {
    font-size: 2rem;
    height: 30vh;
}

main .search {
    width: 40%;
}

main .result {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 3rem;
}

.grey--line {
    display: block;
    margin: 0.5rem auto;
    width: 20%;
    background-color: red;
    height: 2px;
}